

.teste{
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height:5%;
    align-self: flex-start;
    margin-top: 100px;
    padding: 10px;

}

.teste1{
    flex:0.5;
    padding:20;
    height: 100px;
}